[user]
	name = Laily
	email = i@laily.net
[core]
	autocrlf = input
	quotepath = false
    editor = /usr/local/bin/nvim
[alias]
    merge2 = "!f() { git checkout $1 && git merge $2 && git checkout -; }; f"
    au = add -u
    co = checkout
    cm = commit -m 
    st = status
    br = branch
[push]
	default = current
